 [user]
     name = B. J. Potter
     email = bjpotter@gmail.com
 [core]
     editor = vim
     autocrlf = false
     safecrlf = true
     pager = less -FRSX
 [alias]
     tbr = for-each-ref --sort=committerdate refs/heads/ --format='%(HEAD)%(color:yellow)%(refname:short)%(color:reset) - %(color:red)%(objectname:short)%(color:reset) - %(contents:subject) - %(authorname) (%(color:green)%(committerdate:relative)%(color:reset))'
 [diff]
     tool = meld
 [difftool]
     prompt = false
 [alias]
     co = checkout
     ci = commit
     st = status
     br = branch
     hist = log --pretty=format:\"%h %ad | %s%d [%an]\" --graph --date=short
     type = cat-file -t
     dump = cat-file -p
 [color]
     branch = auto
     diff = auto
     status = auto
 [color "branch"]
     current = yellow reverse
     local = yellow 
     remote = green
 [color "diff"]
     meta = yellow bold
     frag = magenta bold
     old = red bold
     new = green bold
 [color "status"]
     added = yellow
     changed = green
     untracked = cyan
 # Need to set this to squelch message
 # This will push to upstream only if same name
 [push]
     default = current
